# Server config
PORT=3000
JOKE_PRICE_CENTS=1
JOKE_CURRENCY=USDC
JOKE_NETWORK=base-sepolia
INVOICE_TTL_MS=120000
SELLER_ID=0xaf3be223c3e52b771c418a9c00f235dd86f3ea56
SELLER_NAME="1¢ Joke Agent"
POLICY_LABEL=daily-$1
JOKE_ASSET_ADDRESS=0xaf3be223c3e52b771c418a9c00f235dd86f3ea56
JOKE_ASSET_DECIMALS=6
JOKE_RESOURCE_URL=http://localhost:3000/joke
FACILITATOR_URL=https://api.cdp.coinbase.com/x402/facilitator  
COINBASE_API_KEY= d0f8b6e6-1214-4364-b5d3-afa36f23eb22                       
COINBASE_API_SECRET= W1oGd/1iGl4lMKwwJz9GSQU8WW7pp9W3lvBjp7zvRkOb3RYuRAQaxO5KiWtaw6XHXF12RZlahn6Mj76qu2weIg==                                     
MOCK_FACILITATOR=0        


# Locus config (only used when MOCK_LOCUS=0)
MOCK_LOCUS=0
LOCUS_API_URL=https://api.paywithlocus.com
LOCUS_AUTHORIZE_PATH=/v1/payment_intents
LOCUS_AUDIT_PATH=/v1/audit
LOCUS_AGENT_ID=ag_demo
LOCUS_POLICY_ID=pg_demo
LOCUS_WALLET_ADDRESS=0xaf3be223c3e52b771c418a9c00f235dd86f3ea56
LOCUS_WALLET_PRIVATE_KEY=0xf29f15e4a5fb2df34ca3b6fb2d203a2ce166d13a41fd1582ad948d0d39e29746
LOCUS_API_KEY= locus_dev_TOwDvL2FjuNceJg-KvY4e2c9qG5m2Waa
LOCUS_CLIENT_ID= 5qe885c6vh4h5vbj0ercnando1
LOCUS_CLIENT_SECRET= 1hhctr5euqio9h2qogk25b4t53piobbgc4tqsf76dr7rc6c2t7v1
LOCUS_OAUTH_TOKEN_URL=https://api.paywithlocus.com/oauth/token
